[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/folly"]
	path = 3rd/folly
	url = https://github.com/facebook/folly.git
[submodule "3rd/abseil-cpp"]
	path = 3rd/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git

